.hero-section {
  position: relative;
  width: 100%;
  height: 700px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will ensure the video covers the whole section */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
  text-align: center;
  z-index: 10; /* Ensure the content is above the video */
}

.content h1 {
  text-transform: uppercase;
}
