body {
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-weight: 300; /* This sets the font weight to light (300) */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


